interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dadosabertos.capes.gov.br/api/3/action/package_search?q=catalogo-de-teses-e-dissertacoes&rows=10
  response:
    body:
      string: '{"help": "https://dadosabertos.capes.gov.br/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 83, "facets": {}, "results": [{"author":
        "", "author_email": "", "creator_user_id": "7fbacb25-45fb-4fbe-b0af-d096ae71912f",
        "id": "dbb9b83e-7779-4b99-89d2-1ff8099f36f6", "isopen": true, "license_id":
        "cc-by", "license_title": "Creative Commons Atribui\u00e7\u00e3o", "license_url":
        "http://www.opendefinition.org/licenses/cc-by", "maintainer": "DAV", "maintainer_email":
        "OUVIDORIA@CAPES.GOV.BR", "metadata_created": "2022-12-22T00:31:24.589075",
        "metadata_modified": "2024-12-04T13:41:04.179561", "name": "2021-a-2024-catalogo-de-teses-e-dissertacoes-brasil",
        "notes": "O Cat\u00e1logo de Teses e Disserta\u00e7\u00f5es da Capes tem como
        objetivo facilitar o acesso a informa\u00e7\u00f5es sobre teses e disserta\u00e7\u00f5es
        defendidas junto a programas de p\u00f3s-gradua\u00e7\u00e3o do pa\u00eds.
        Atualmente os dados nele apresentados s\u00e3o oriundos da Plataforma Sucupira.
        \r\n\r\nNesta publica\u00e7\u00e3o, o per\u00edodo de abrang\u00eancia s\u00e3o
        os dados coletados do ano base de 2021 a 2024. At\u00e9 o momento, os dados
        disponibilizados cont\u00eam informa\u00e7\u00f5es sobre as Teses e Disserta\u00e7\u00f5es
        da P\u00f3s-Gradua\u00e7\u00e3o dos anos base de  2021 e 2022.\r\n\r\nVers\u00f5es
        posteriores s\u00e3o esperadas de forma a complementar com os anos subsequentes,
        sendo que ao final contemplar\u00e1 os dados dos anos de 2021 a 2024.", "num_resources":
        6, "num_tags": 4, "organization": {"id": "a994a478-5aaf-4e09-8372-134a0af7c0e8",
        "name": "diretoria-de-avaliacao", "title": "Avalia\u00e7\u00e3o da P\u00f3s-Gradua\u00e7\u00e3o
        Stricto Sensu", "type": "organization", "description": "A avalia\u00e7\u00e3o
        da p\u00f3s-gradua\u00e7\u00e3o stricto senso tem como objetivo a certifica\u00e7\u00e3o
        da qualidade da p\u00f3s-gradua\u00e7\u00e3o brasileira bem como a identifica\u00e7\u00e3o
        de assimetrias regionais e de \u00e1reas estrat\u00e9gicas do conhecimento.
        Ela \u00e9 orientada pela Diretoria de Avalia\u00e7\u00e3o/CAPES e realizada
        com a participa\u00e7\u00e3o da comunidade acad\u00eamico-cient\u00edfica
        por meio de consultores ad hoc. Tem como pilares a forma\u00e7\u00e3o p\u00f3s-graduada
        de docentes para todos os n\u00edveis de ensino e de recursos humanos qualificados
        para o mercado, bem como o fortalecimento das bases cient\u00edfica, tecnol\u00f3gica
        e de inova\u00e7\u00e3o.", "image_url": "", "created": "2017-07-19T15:04:15.073147",
        "is_organization": true, "approval_status": "approved", "state": "active"},
        "owner_org": "a994a478-5aaf-4e09-8372-134a0af7c0e8", "private": false, "state":
        "active", "title": "[2021 a 2024] Cat\u00e1logo de Teses e Disserta\u00e7\u00f5es
        - Brasil", "type": "dataset", "url": "", "version": "1.0", "extras": [{"key":
        "atualizacaoVersao", "value": "true"}, {"key": "coberturaEspacial", "value":
        "FEDERAL"}, {"key": "coberturaTemporalFim", "value": "31/12/2024"}, {"key":
        "coberturaTemporalInicio", "value": "01/01/2021"}, {"key": "granularidadeEspacial",
        "value": "ESTADUAL"}, {"key": "periodicidade", "value": "ANUAL"}], "groups":
        [{"description": "Os conjuntos de dados deste grupo cont\u00eam informa\u00e7\u00f5es
        sobre as teses e disserta\u00e7\u00f5es da p\u00f3s-gradua\u00e7\u00e3o consolidados
        a partir do Coleta Capes, os nomes dos autores, a data de defesa, a localiza\u00e7\u00e3o
        da IES a qual o autor est\u00e1 vinculado, a \u00e1rea de conhecimento da
        tese ou disserta\u00e7\u00e3o.", "display_name": "Cat\u00e1logo de Teses e
        Disserta\u00e7\u00f5es - Brasil", "id": "6ea40c37-0f11-4c4d-a18c-cf1b9af8d0c2",
        "image_display_url": "", "name": "catalogo-de-teses-e-dissertacoes-brasil",
        "title": "Cat\u00e1logo de Teses e Disserta\u00e7\u00f5es - Brasil"}, {"description":
        "Educa\u00e7\u00e3o.", "display_name": "Educa\u00e7\u00e3o", "id": "27e09d7d-1025-40b8-b5e5-fe2ef76ee5bd",
        "image_display_url": "", "name": "educacao", "title": "Educa\u00e7\u00e3o"},
        {"description": "Pesquisa e Desenvolvimento.", "display_name": "Pesquisa e
        Desenvolvimento", "id": "96be5812-6837-46ec-91a6-82bf8f937695", "image_display_url":
        "", "name": "pesquisa-e-desenvolvimento", "title": "Pesquisa e Desenvolvimento"}],
        "resources": [{"cache_last_updated": null, "cache_url": null, "created": "2022-12-22T02:07:37.715919",
        "datastore_active": true, "description": "Ano 2021", "format": "CSV", "hash":
        "", "id": "068003e4-196c-41f4-8c35-1f7c94b4e55c", "last_modified": "2023-11-22T18:02:56.865045",
        "metadata_modified": "2023-11-22T18:02:57.173560", "mimetype": "text/csv",
        "mimetype_inner": null, "name": "BR-CAPES-BTD-2021-2023-10-31", "package_id":
        "dbb9b83e-7779-4b99-89d2-1ff8099f36f6", "position": 0, "resource_type": null,
        "size": 451493734, "state": "active", "url": "https://dadosabertos.capes.gov.br/dataset/dbb9b83e-7779-4b99-89d2-1ff8099f36f6/resource/068003e4-196c-41f4-8c35-1f7c94b4e55c/download/br-capes-btd-2021-2023-10-31.csv",
        "url_type": "upload"}, {"cache_last_updated": null, "cache_url": null, "created":
        "2022-12-22T23:31:53.716313", "datastore_active": true, "description": "Ano
        2021", "format": "XLSX", "hash": "", "id": "1dfdb53a-543d-4834-97e2-27df8cb8d83a",
        "last_modified": "2023-11-22T18:05:43.049278", "metadata_modified": "2023-11-22T18:05:43.094831",
        "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
        "mimetype_inner": null, "name": "BR-CAPES-BTD-2021-[...]
